h1,
h2,
h3,
h4,
h5,
h6
    font-weight: 400

code
    font-family: 'Code New Roman'
    background-color: #d1d1d1

a
    color: #101010
    text-decoration: none
    &:hover
        color: #151515
        text-decoration: underline