body,
html
    font-family: 'Quicksand'
    font-size: 18px

[class*="entypo-"]:before
    font-family: 'entypo', sans-serif
    font-weight: normal

h1,
h2,
h3,
h4,
h5,
h6
    font-weight: 400
    margin: 5px 0

h1
    font-size: 45px

code
    background-color: #d1d1d1

a
    color: #101010
    text-decoration: none
    &:hover
        color: #151515
        text-decoration: none